body{
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #ffeffc;
    color: black;
    text-align: center;
}

header{
    background-color: #ff8a8a;
    color: white;
    font-size: 28px;
    font-weight: bold;
    padding: 20px;
    border-radius: 30px;
    margin: 20px auto 5px;
    width: 70%;
}

.subtitulo{
    font-size: 14px;
    color: black;
    margin-bottom: 20px;
}

.contenedor-tabla{
    background-color: #ffb380;
    width: 80%;   
    margin: 0 auto;
    border-radius: 20px;
    padding: 20px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th{
    background-color: #ffd699;
    padding: 10px;
    font-size: 16px;
}

td{
    background-color: #fff4e3;
    padding: 10px;
    text-align: center;
}

tr:nth-child(even) td{
    background-color: #ffebcd;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a:hover{
    color: #ff5722;
}

footer{
    background-color: #ff8a8a;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

.linea{
    border-top: 4px dotted white;
    margin: 15px auto;
    width: 70%;
}


.miniatura {
    width: 60px;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    width: 140px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; 
    left: 50%;
    margin-left: -70px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}